*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Lora", serif;
  line-height: 1.7;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgba(248, 248, 248, 0.4470588235);
}
body::-webkit-scrollbar {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 60em) {
  .flex {
    flex-direction: column;
  }
}

.section {
  position: relative;
  justify-content: space-between;
  max-width: 80vw;
  margin: 5rem auto;
  height: 100vh;
  padding: 5rem;
}
@media (max-width: 60em) {
  .section {
    max-width: 90vw;
    padding: 1rem;
  }
}

.fluid-container {
  margin: 0 auto;
}

.base {
  margin-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

span {
  font-size: 1.6rem;
  font-weight: 200;
}

.heading-jumbo {
  font-size: 6rem;
}
.heading-jumbo__large {
  font-size: 40rem;
  font-family: "Megrim", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #00ffff;
  margin-bottom: 0;
  line-height: 1;
}
@media (max-width: 60em) {
  .heading-jumbo__large {
    position: absolute;
    font-size: 10rem;
    top: 5%;
    right: 10%;
    z-index: -10;
    -webkit-text-stroke-width: 1px;
  }
}

.heading-primary {
  font-size: 5rem;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
}
@media (max-width: 64em) {
  .heading-secondary {
    position: relative;
  }
}

.heading-tertiary {
  font-size: 3rem;
}

.heading-quadruple {
  font-size: 2.5rem;
}

.heading-quintuple {
  font-size: 1.5rem;
  font-weight: 500;
}

.section-title {
  font-size: 2rem;
  margin: 2% auto;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  text-transform: capitalize;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.link {
  text-decoration: none;
}

.paragraph {
  margin-bottom: 1rem;
  text-indent: 1rem;
  line-height: 1.7;
  font-size: 1.6rem;
  text-align: left;
}
.paragraph::first-letter {
  font-size: 3rem;
  text-transform: capitalize;
}

.small-text {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  display: inline;
  text-decoration: underline;
}

.upside-down {
  position: absolute;
  transform: rotateX(108deg) translateY(180%);
  background: linear-gradient(transparent 50%, aqua);
  -webkit-text-stroke: 0px;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  z-index: -10;
}

.nav {
  padding: 0.5rem 2rem;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width: 64em) {
  .nav {
    flex-direction: row;
  }
}
.nav-title {
  font-family: "Megrim", cursive;
  font-size: 1.5rem;
}
.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
@media (max-width: 64em) {
  .nav-link {
    flex-direction: row;
  }
}

.header-container {
  height: 70vh;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 60em) {
  .about {
    max-height: 60vh;
  }
}
.about-gallery {
  width: 35%;
  aspect-ratio: 1;
  overflow: hidden;
  border: transparent;
  transform: rotate(50deg);
  position: relative;
  border-radius: 6px;
}
@media (max-width: 60em) {
  .about-gallery {
    width: 20%;
    order: 10;
  }
}
.about-gallery__image {
  width: 200%;
  transform: translate(-20%, -30%) rotate(-50deg) scale(0.8);
  transition: all 0.3s ease-in-out;
}
.about-gallery__image:hover {
  transform: translate(-25%, -30%) rotate(-50deg) scale(1);
}
.about-container {
  height: 100%;
}
.about-text {
  order: 2;
  flex: 0 1 50%;
  padding: 5rem;
}
@media (max-width: 60em) {
  .about-text {
    width: 80%;
    flex: 0 1 100%;
    padding: 1rem;
  }
}

.process-container {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  overflow: scroll;
}
.process-container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 60em) {
  .process-container {
    max-width: 100%;
  }
}
.process-line {
  width: 100%;
  height: 0.2rem;
  background-color: #026161;
}
.process-numbering {
  text-align: right;
}

.work-container {
  position: relative;
  width: 100%;
  height: 90%;
}
@media (max-width: 64rem) {
  .work-container {
    height: 60%;
    width: 100%;
  }
}
.work-card {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  transition: all 0.5s;
}
@media (max-width: 64rem) {
  .work-card {
    flex-direction: column;
    margin-top: 10%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.work-card__gallery {
  width: 90%;
}
.work-card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work-card__detail {
  flex: 0 1 40%;
}
@media (max-width: 64rem) {
  .work-card__detail {
    margin-top: 10%;
  }
}
.work-card-link {
  margin-top: 2rem;
}
@media (max-width: 64em) {
  .work-flex {
    flex-direction: row;
  }
}

.footer {
  height: 50vh;
}
.footer-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 5% 0;
  justify-content: space-between;
}

.btn {
  padding: 1rem 2rem;
  border: thin solid #00ffff;
  background-color: #000505;
  margin-top: 2rem;
  color: #f1f1f1;
  font-size: 2rem;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: hsla(212deg, 76%, 10%, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.6509803922) 0px 4px 6px -1px, rgba(255, 255, 255, 0.0784313725) 0px 1px 0px inset;
}

.link {
  color: currentColor;
  text-transform: capitalize;
  text-decoration: none;
}

.center {
  text-align: center;
}

.list-item {
  list-style: none;
}

.icon {
  display: inline;
  width: 4rem;
  aspect-ratio: 1;
}
.icon-small {
  width: 2rem;
}

.button {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #000;
  font-size: 18px;
  color: #f1f1f1;
}

.button:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 0%;
}
@media (max-width: 64rem) {
  .btn-prev {
    top: 90%;
  }
}

.btn-next {
  top: 45%;
  right: 0%;
}
@media (max-width: 64rem) {
  .btn-next {
    top: 90%;
  }
}/*# sourceMappingURL=style.css.map */