*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
  font-family: "Catamaran", sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(174.2deg, rgb(249, 246, 241) 7.1%, rgb(240, 246, 238) 67.4%);
}
body::-webkit-scrollbar {
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    background-image: linear-gradient(174.2deg, rgb(43, 40, 36) 7.1%, rgb(45, 47, 44) 67.4%);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.figure {
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-small {
  width: 3rem;
  margin-right: 1.5rem;
  aspect-ratio: 1;
}
@media (prefers-color-scheme: dark) {
  .icon-small {
    fill: #efefef;
  }
}

body {
  font-family: "Junge", serif;
  font-size: 1.6rem;
  padding: 1.6rem;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

.heading-primary {
  font-size: clamp(2.5rem, 3vw, 3rem);
}
.heading-secondary {
  font-size: clamp(3rem, 4vw, 4rem);
  text-transform: capitalize;
}
.heading-tertiary {
  color: #d1d1d1;
  font-family: "lora", sans-serif;
  font-size: clamp(1.9rem, 2.1vw, 2.1rem);
  text-transform: capitalize;
  font-weight: 300;
}
@media (prefers-color-scheme: light) {
  .heading-tertiary {
    color: #101010;
  }
}
.heading-prompt {
  text-transform: uppercase;
  font-family: "Megrim", cursive;
  font-size: 1.5rem;
}
.heading span, .heading--sextuple {
  font-size: 1.6rem;
  font-weight: 200;
}

.paragraph {
  font-size: 1.6rem;
  margin: 1% 0;
}

.small-text {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  display: inline;
  text-decoration: underline;
}

.signature {
  font-family: "Mea Culpa", cursive;
  text-decoration: line-through;
}

.label {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-gray);
  transition: 0.4s linear;
}

.radio:checked ~ .label {
  color: currentColor;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.footer a {
  color: currentColor;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-container {
  padding: 1.6rem;
  width: 100%;
}

.section {
  margin: 10rem auto;
  overflow: hidden;
}
@media (min-width: 64em) {
  .section {
    width: 80vw;
  }
}

.bio-figure {
  height: 70%;
  overflow: hidden;
  transition: translate 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.process-list {
  margin-top: 2rem;
  gap: 1%;
  justify-content: flex-end;
}
@media (min-width: 64em) {
  .process-list {
    width: 60%;
  }
}
.process-list > div {
  flex: 0 80%;
}
.process-title {
  border-bottom: 1px solid #333;
}
@media (prefers-color-scheme: dark) {
  .process-title {
    border-bottom: 1px solid #dad9d9;
  }
}

.header-container {
  padding: 20rem 0%;
}
@media (min-width: 64em) {
  .header-container {
    padding: 10% 0%;
  }
}

.footer {
  justify-content: space-between;
}

span {
  width: -moz-fit-content;
  width: fit-content;
}

.right {
  margin-left: auto;
}

.block {
  display: block;
}

.width-min {
  padding: 0 1.6rem;
}
@media (min-width: 64em) {
  .width-min {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */