*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --link-color__current: #1B73E8;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 64em) {
  .flex {
    flex-wrap: nowrap;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
@media (max-width: 48em) {
  .grid {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid__column--l {
    grid-column: 1/span 2;
  }
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}
@media (max-width: 75em) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 58em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 30%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.heading--primary {
  font-size: 3rem;
}
.heading--secondary {
  font-size: 2rem;
  text-transform: uppercase;
}
.heading--tertiary {
  font-size: 1.8rem;
  font-weight: 300;
}
.heading span, .heading--sextuple {
  font-size: 1.6rem;
  font-weight: 200;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
}

.small-text {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  display: inline;
  text-decoration: underline;
}

.signature {
  font-family: "Mea Culpa", cursive;
  text-decoration: line-through;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.nav {
  padding: 0.5rem 2rem;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}
@media (max-width: 64em) {
  .nav {
    flex-direction: row;
  }
}
.nav-title {
  font-family: "Megrim", cursive;
  font-size: 1.5rem;
}
.nav-link {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
@media (max-width: 64em) {
  .nav-link {
    flex-direction: row;
  }
}

.profile__container {
  height: 100%;
  justify-content: space-around;
}

.bio {
  justify-content: left;
  background: #fff;
}
.bio__picture {
  flex: 0 0 40%;
  justify-self: center;
  align-self: center;
}
@media (min-width: 45em) {
  .bio__picture {
    flex: 0 0 20%;
  }
}
.bio__details {
  flex: 0 0 100%;
}

.option {
  position: -webkit-sticky;
  position: sticky;
  top: 3%;
  height: 44px;
  width: 100vw;
  flex-wrap: nowrap;
  background: #fff;
  box-shadow: inset 0 -4px 0 0 #dadce0;
}
@media (min-width: 64em) {
  .option {
    height: 74px;
  }
}
.option__container {
  height: 100%;
  justify-content: center;
  gap: 5%;
}
.option__link {
  display: block;
  text-align: center;
}
.option__link:hover {
  border-bottom: 2px solid var(--link-color__current);
}
.option__background {
  position: absolute;
  width: 100%;
}

.tile {
  width: 90%;
}
@media (min-width: 64em) {
  .tile {
    width: 70%;
  }
}
.tile__details {
  flex: 1 0 60%;
  padding: 3%;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.width--min {
  width: 50%;
}

.center {
  margin: 0 auto;
}

.icon {
  display: inline;
  width: 4rem;
  aspect-ratio: 1;
}
.icon-small {
  width: 2rem;
}

.figure {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.figure__ellipse {
  -webkit-clip-path: circle(45% at 50%);
          clip-path: circle(45% at 50%);
}

.img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.arrow__right {
  height: 1.8rem;
}

.container {
  padding: 2% 4%;
}/*# sourceMappingURL=style.css.map */