


//root - formattting
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Lora', serif;
    line-height: 1.7;
    scroll-behavior: smooth;


    @media (max-width: 75em) {
        & {
            font-size: 70%;
        }
    }

    @media (max-width: 58em) {
        & {
            font-size: 52%;
        }
    }

    @media (max-width: 56.25em) {
        & {
            font-size: 50%;
        }
    }

    @media (max-width: 31.25em) {
        & {
            font-size: 43.75%;
        }
    }

    @media (max-width: 25em) {
        & {
            font-size: 30%;
        }
    }
}

body {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    background-color:none;
    font-family: 'Roboto', sans-serif;
    // overflow: hidden;
    // width: 100vw;
    // height: 100vh;
    font-size: 2rem;
    background-color: #f8f8f8;

    &::-webkit-scrollbar {
        display: none;
    }

}

//

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: capitalize;
}


.heading-jumbo {
    font-size: 6rem;
  }
  .heading-primary {
    font-size: 5rem;
  }
  .heading-secondary {
    font-size: 4rem;
    position: sticky;
    top: 10%;
    @media (max-width:60em) {
        &{
            position: relative;
        }
    }
  }
  .heading-tertiary {
    font-size: 3rem;
  }
  .heading-quadruple {
    font-size: 2.5rem;
  }
  .heading-quintuple {
    font-size: 2rem;
  }
  