//nav
.nav {
    padding: .5rem 2rem;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    &-title {
        font-family: 'Megrim', cursive;
        font-size: 1.5rem;
    }

    &-link {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: lighter;
    }
}

//Header
.header {
    margin-top: 10%;

    &-container {
        align-items: center;
        justify-content: center;
        height: 50rem;
    }

    &-message {
        flex: 0 1 40%;

        @media (max-width:60em) {
            &{
                flex: 0 1 65%;
            }
        }
    }

    &-gallery {
        width: 15%;
        aspect-ratio: 1;
        overflow: hidden;
        border: transparent;
        transform: rotate(50deg);
        position: relative;
        border-radius: 6px;
        @media (max-width:60em) {
            &{
                width: 20%;
            }
        }

        &__image {
            width: 200%;
            transform: translate(-20%, -30%) rotate(-50deg) scale(.85);
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translate(-25%, -30%) rotate(-50deg) scale(1);
            }
        }
    }

}

//

//About
.about {

    @media (max-width:60em) {
        &{
           height: 50vh;
        }
    }

    &-title{
        position: relative;
    }
    &-container {
        height: 100%;

        @media (max-width:60em) {
            &{
               
               display: inline-block;
            }
        }
    }

    &-text {
        order: 2;
        flex: 0 1 50%;

        padding: 5rem;
        align-self: center;
    }
}

//

//Process
.process {
    font-size: 1.6rem;

    &-container {
        max-width: 80%;
        margin-left: auto;

        @media (max-width:60em) {
            & {
                max-width: 95%;
            }
        }
    }

    &-row {
        gap: 5rem;
        margin: 1rem 0;
    }

    &-detail {

        @media (max-width:60em) {
            & {
                max-width: 95%;
            }
        }

        &__title {
            display: block;
            border-bottom: .2rem solid black;

        }

        &__paragraph {
            font-size: 1.4rem;
            display: inline-block;
            padding: 2rem;
            margin-left: auto;
            max-width: 70%;

            @media (max-width:60em) {
                & {
                    max-width: 95%;
                }
            }
        }


        &__footnote {
            display: inline-block;
            margin-left: 70%;
            max-width: 40%;
            text-align: right;
        }
    }
}
//

//Work
.work{

    &-card{
        justify-content: space-between;
        max-width: 60vw;
        margin: 2rem auto;    

        &__gallery{
            flex: 0 1 50%;
        }
        &__detail{
            flex: 0 1 40%;
        
        }
    }

    
}


//Philosophy
.philosophy {
            flex-direction: column;
    &-container{
        text-align: center;
    }

    &-title {
        text-align: center;
        margin: 5rem auto;
    }
}