

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin:0 auto;
}



//Section
.section {
    font-size: 1.8rem;
    position: relative;
    justify-content: space-between;
    max-width: 80vw;
    margin: 5rem auto;
    min-height: 100vh;
    padding: 5rem;

}
//