.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     @media (max-width: 60em) {
        & {
            flex-direction: column;
        }
    }
}



//Section
.section {
    position: relative;
    justify-content: space-between;
    max-width: 80vw;
    margin: 5rem auto;
    height: 100vh;
    padding: 5rem;

    @media (max-width:60em) {
        & {
            max-width: 90vw;
            padding: 1rem;
        }
    }
}

.fluid-container {
    margin: 0 auto;
}

.base {
    margin-top: 2rem;
    display: none;
}