//root - formattting
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: clamp(30%, 62.5%, 70%);
  font-family: "Catamaran", sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    174.2deg,
    rgb(249, 246, 241) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );

  &::-webkit-scrollbar {
    display: none;
  }
  @media (prefers-color-scheme: dark) {
    & {
      background-image: linear-gradient(
        174.2deg,
        rgb(43, 40, 36) 7.1%,
        rgb(45, 47, 44) 67.4%
      );
    }
  }
}

//
