


//root - formattting
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    
}

body {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

//
