//nav
.nav {
    padding: .5rem 2rem;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;


    @media (max-width: 64em) {
        flex-direction: row;
    }

    &-title {
        font-family: 'Megrim', cursive;
        font-size: 1.5rem;
    }

    &-link {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: lighter;

        @media (max-width: 64em) {
            flex-direction: row;
        }
    }
}

//Header
.header {
    padding: 2rem 10rem ;
    height: 100vh;
    width: 100vw;
}

.profile{
    &__container{
        @media (min-width:64em) {
            width: 50%;
        }
    }

    &__picture{
        flex: 3 3 40%;
        @media (min-width:64em) {
        }
    }

    &__details{
        @media (min-width:64em) {
            flex: 0 0 50%;
        }

    }
}
//

.option{

    &__card{
        aspect-ratio: 2/1;
    }

    &__card:nth-child(1){
        background: url(../image/webDev.jpg);
    }
    &__card:nth-child(2){
        background: url(../image/webDesign.jpg);
    }
    &__card:nth-child(3){
        background: url(../image/writing.jpg);
    }
}


//footer
.footer {
    &-container {
        width: 100%;
        margin: 0 auto;
        padding: 5% 0;
        justify-content: space-between;
    }
}