//nav
.nav {
  position: sticky;
  top: 0;
  z-index: 10;

  &-container {
    padding: 1.6rem;
    width: 100%;
  }
}

.section {
  margin: 10rem auto;
  overflow: hidden;
  @media (min-width: 64em) {
    & {
      width: 80vw;
    }
  }
}

.bio {
  &-figure {
    height:70%;
    overflow: hidden;
    transition: translate 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.process {
  &-list {
    margin-top: 2rem;
    gap: 1%;
    justify-content: flex-end;
    @media (min-width: 64em) {
      & {
        width: 60%;
      }
    }
    & > div{
      flex: 0 80%;
    }
  }
  &-title {
    border-bottom: 1px solid #333;
    @media (prefers-color-scheme: dark) {
      &{
        border-bottom: 1px solid #dad9d9;
      }
    }
  }
}

.header-container{
  padding: 20rem 0%;

  @media (min-width:64em) {
    &{
      padding: 10% 0%;
    }
  }

}

.footer {
  justify-content: space-between;

}