//nav
.nav {
    padding: .5rem 2rem;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;


    @media (max-width: 64em) {
        flex-direction: row;
    }

    &-title {
        font-family: 'Megrim', cursive;
        font-size: 1.5rem;
    }

    &-link {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: lighter;

        @media (max-width: 64em) {
            flex-direction: row;
        }
    }
}

//Header
.header {
    padding: 2rem 10rem ;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile{
    &__container{
        width: 50%;
    }

    &__details{
        flex: 0 0 60%;
    }
}
//


//About
.about {
    padding: 10%;

    &-gallery {
        width: 35%;
        aspect-ratio: 1;
        overflow: hidden;
        border: transparent;
        transform: rotate(50deg);
        position: relative;
        border-radius: 6px;

        @media (max-width:60em) {
            & {
                width: 20%;
                order: 10;
            }
        }

        &__image {
            width: 200%;
            transform: translate(-20%, -30%) rotate(-50deg) scale(.8);
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translate(-25%, -30%) rotate(-50deg) scale(1);
            }
        }
    }

    &-text {
        order: 2;
        flex: 0 1 50%;
        padding: 15% 0;
    }
}

//

//Process
.process {

    &-container {
        max-width: 80%;
        margin: 0 auto;
    }

    &-line {
        width: 100%;
        height: .2rem;
        background-color: black;
    }

    &-numbering {
        text-align: right;
    }
}

//

//Work
.work {

    &-container {
        width: 80%;
        height: 70vh;
        margin: 0 auto;
        margin-top: 10%;
        position: relative;
        overflow: hidden;
    }

    &-card {
        position: absolute;
        transition: all 0.5s;
        width: 100%;


        @media (max-width: 64rem) {
            & {
                margin-top: 10%;
            }
        }

        &__image {
            width: 100%;
            height: 50rem;
            object-fit: cover;
        }

        &__detail {
            padding: 1%;

            @media (max-width: 64rem) {
                & {
                    margin-top: 10%;
                }
            }
        }

        &-link {
            margin-top: 2rem;
        }
    }

    &-flex {
        @media (max-width:64em) {
            flex-direction: row;
        }

    }
}



//footer
.footer {
    height: 50vh;

    &-container {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 5% 0;
        justify-content: space-between;
    }
}