.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     @media (min-width: 64em) {
        & {
            flex-wrap:nowrap;
        }
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}