.flex--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
     @media (min-width: 64em) {
        & {
            flex-wrap:nowrap;
        }
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    @media (max-width: 48em) {
        gap: 1rem;
       grid-template-columns: repeat(2, 1fr); 

       &__column--l{
        grid-column: 1 / span 2;
       }
    }
}