.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

// General

.figure {
  height: 100%;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.icon-small {
  width: 3rem;
  margin-right: 1.5rem;
  aspect-ratio: 1;

  @media (prefers-color-scheme: dark) {
    fill: #efefef;
  }
}
 
