html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;


  @media (max-width: 75em) {
      & {
          font-size: 70%;
      }
  }

  @media (max-width: 58em) {
      & {
          font-size: 52%;
      }
  }

  @media (max-width: 56.25em) {
      & {
          font-size: 50%;
      }
  }

  @media (max-width: 31.25em) {
      & {
          font-size: 43.75%;
      }
  }

  @media (max-width: 25em) {
      & {
          font-size: 30%;
      }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

}

.heading{
  &--primary {
    font-size: 3rem;
  }

  &--secondary{
    font-size:2rem;
    text-transform: uppercase;
  }

  &--tertiary {
    font-size: 1.8rem;
    font-weight: 300;
  }

  span,
  &--sextuple {
    font-size: 1.6rem;
    font-weight: 200;
  }
}

.paragraph{
  font-size: 1.6rem;
  font-weight: 300;
}
  
.small-text {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  display: inline;
  text-decoration: underline;
}

.signature {
  font-family: 'Mea Culpa', cursive;
  text-decoration: line-through;
}

.link {
  color: currentColor;
  text-decoration: none;
}
