body{font-size: 1.5rem;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;

}

.heading{
  &--primary {
    font-size: 3rem;
  }

  &--secondary{
    font-size:2rem;
    text-transform: uppercase;
  }

  &--tertiary {
    font-size: 1.8rem;
    font-weight: 300;
  }

  span,
  &--sextuple {
    font-size: 1.6rem;
    font-weight: 200;
  }
}

.paragraph{
  font-size: 1.6rem;
  font-weight: 300;
}  

.small-text {
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  display: inline;
  text-decoration: underline;
}

.signature {
  font-family: 'Mea Culpa', cursive;
  text-decoration: line-through;
}

.label{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color-gray);

  transition: .4s linear;
}

.radio:checked ~ .label{color: currentColor;}

.link {
  color: currentColor;
  text-decoration: none;
}



.text--center{
  text-align: center;
}