span{
    width: fit-content;
}
.right{
    margin-left: auto;
}
.block{
    display: block;
}

.width-min{
    padding:0 1.6rem;
    @media (min-width:64em) {
        &{
            width: 60%;
        }
    }
}


