.width--min {
    width: 50%;
}

.icon {
  display: inline;
  width: 4rem;
  aspect-ratio: 1;
  // filter: grayscale(100%);

  &-small {
    width: 2rem;
  }
}

.figure {
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;

  &__ellipse {
    clip-path: circle(45% at 50%);
  
  }
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrow__right{
  height: 1.8rem;
}